/* Base */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

body {
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto";
}

header {
    background-color: #1f2937;
}

#nav-container, #welcome-section {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Nav */

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1em;
} 

#logo {
    font-size: 24px;
    color: #f9fafb;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #e5e7eb;
    display: flex;
    gap: 1em;
    font-size: 18px;
}

/* Welcome section */

#welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    padding-bottom: 5%;
}

#welcome-section-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 35%;
}

#welcome-section-text h1 {
    margin-bottom: 0;
    font-size: 48px;
    color: #f9fafb;
}

#welcome-section-text p {
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}

#welcome-section-img img {
    width: 100%;
}

#header-sign-up {
    background-color: #3882F6;
    border: none;
    color: #f9fafb;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    max-width: 30%;
    font-weight: bold;
}

/* Information section */
#information-section {
    background-color: #fbfcfc;
    padding-bottom: 5%;
}

#information-section-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.information-section-item {
    display: flex;
    flex-direction: column;
}

#information-section h2 {
    margin-top: 0;
    padding-top: 3%;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

#information-section p {
    color: #5e6773;
    font-size: 18px;
    text-align: center;
}

/* Quote section */
#quote-section {
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #e5e7eb;
}

#quote-text, #quote-subtext {
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
    
}

#quote-subtext {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    text-align: end;
}

/* Call to action section */
#cta-section-container {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #fbfcfc;
}

#cta-section {
    background-color: #3882f6;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cta-section-text {
    text-align: start;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#cta-title, #cta-subtext {
    margin: 0;
}

#cta-title {
    font-size: 24px;
    font-weight: 700;
    color: #fbfcfc;
}

#cta-subtext {
    color: #e5e7eb;
}

#cta-sign-up {
    margin-right: 20%;
    border-radius: 8px;
    border-color: #fbfcfc;
    background-color:#3882F6;
    color: #fbfcfc;
    height: 36px;
    width: 150px;
    font-size: 24px;
    font-weight: 500;
    border-width: 3px;
    box-shadow: none;
}

/* Footer */
#footer {
    background-color: #1f2937;
    margin: 0;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}